*~
__pycache__/
/.tox/
/veriphix.egg-info/
/circuits**
.DS_Store
.vscode/settings.json
*.ipynb
applications/gospel/circuits/

applications/circuits/
applications/circuits-experiment/
applications/sampled_circuits-experiment/
